*{
    padding: 0;
    margin: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    overflow:hidden;
    white-space:nowrap; 
    text-overflow:ellipsis; 
}
.container{
    height: 338px;
    width: 322px;
    border: 1px solid #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(
141deg
,#9fb8ad 0%,#1fc8db 51%,#2cb5e8 75%);
}
.zs{
    color: rgb(235, 34, 8);
}
.zs:hover{
    background-color: rgb(255, 255, 255);
}
.fs{
    color: rgba(14, 65, 235, 0.979);
}
.fs:hover{
    background-color: rgb(255, 255, 255);
}
.ss{
    color: chocolate;
}
.ss:hover{
    background-color: rgb(255, 255, 255);
}
.container div div{
    border: solid 1px #000;
    font-weight: 700;
    margin-bottom: 2px;
    width: 70px;
    text-align: center;
    cursor:pointer
}
.bk{
    background-color: rgb(255, 255, 255);
}
.text{
    width: 50px;
    opacity: 0.7;
}
.box{
    margin-right: 0;
}
.sx{
    position: absolute;
    width: 55px;
    background-color: rgb(85,85,85);
    color: #FFF;
    border:0;
    z-index: 999;
    height: 16px;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
}
.gjl{
    left: 95px;
    top: 51.4%;
}
.sm{
    left: 95px;
    top: 59.5%;
}
.bj{
    left: 95px;
    top: 68%;
}
.lq{
    left: 95px;
    top: 76%;
}
.cj{
    left: 95px;
    top: 84.5%;
}
.hp{
    left: 95px;
    top: 92.5%;
}
.hjz{
    top: 51.4%;
    left: 257px;
}
.nengl{
    top: 59.5%;
    left: 257px;
}
.bs{
    top: 68%;
    left: 257px;
}
.jn{
    top: 76%;
    left: 257px;
}
.sb{
    top: 84.5%;
    left: 257px;
}
.mp{
    top: 92.5%;
    left: 257px;
}
.logo{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.5;
}
input{
    color: rgb(250, 4, 148);
    background-color: rgb(255, 255, 255);
    font-weight: 700;
}
.box{
    color: rgba(61, 22, 201, 0.753);
    font-weight: 700;
}
.help{
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    cursor:pointer
}
.helptxt{
    position: absolute;
    z-index: 998;
    top: 1%;
    right: 8%;
    border: solid 1px #000;
    background-color: #fff;
    font-size: 12px;
    visibility:hidden;
    font-weight: 700;
}
.help:hover +.helptxt{
    visibility: visible;
}
